.cytp-outer-container {
	display: inline-block;
	vertical-align: top;
}

.cytp-outer-container.full {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: rgba(0,0,0,0.8);

	width: 100% !important;
	z-index: 999999;
}

.cytp-outer-container .cytp-container {
	display: block;

	width: 100%;
	height: 100%;

	position: relative;
}

.cytp-outer-container .cytp-ratio-square {
	padding-top: 100%;
}

.cytp-outer-container .cytp-ratio-43 {
	padding-top: 75%;
}

.cytp-outer-container .cytp-ratio-169 {
	padding-top: 56.25%;
}

.cytp-outer-container.full .cytp-ratio-square, 
.cytp-outer-container.full .cytp-ratio-43, 
.cytp-outer-container.full .cytp-ratio-169 {
	padding-top: 0;
	height: 100%;
} 

.cytp-outer-container .cytp-inner-container {
	display: block;
	position: absolute;

	top: 50%;
	left: 50%;
	
	width: 100%;
	height: 100%;

	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.cytp-outer-container.full .cytp-inner-container {
	width: 100% !important;
	height: 100% !important;
	
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	
	-webkit-transform: none;
	transform: none;
}

.cytp-outer-container .cytp-inner-container iframe,
.cytp-outer-container .cytp-inner-container video.video-js {
	width: 100%;
	height: 100%;
	margin: 0;
}

.cytp-outer-container.full .cytp-thumb-container {
	position: fixed;
	width: 100% !important;
	height: 100% !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	top: 0 !important;
	z-index: 9999999;
}

.cytp-outer-container .cytp-thumb-container.thumb {
	position: fixed;

	width: 400px;
	z-index: 9999999;

	-webkit-transition: bottom 0.3s ease-in-out;
	transition: bottom 0.3s ease-in-out;
}

.cytp-outer-container .cytp-thumb-container.thumb.bottom-right {
	right: 15px;
	bottom: 0;
}
.cytp-outer-container .cytp-thumb-container.thumb.top-right {
	right: 15px;
	top: 0
}
.cytp-outer-container .cytp-thumb-container.thumb.top-left {
	left: 15px;
	top: 0
}
.cytp-outer-container .cytp-thumb-container.thumb.bottom-left {
	left: 15px;
	bottom: 0;
}

.cytp-outer-container .cytp-dummy-placeholder {
	display: none;
}

.cytp-outer-container .cytp-thumb-container.thumb + .cytp-dummy-placeholder {
	display: block;
}

/*
 * mediaelement custom styles
 */
.cytp-ml-video video {
	margin-bottom: 0;
	width: 100% !important;
    height: 100% !important;
}

.cytp-outer-container .cytp-ml-video {
	height: 100%;
}

.cytp-outer-container .cytp-ml-video .mejs-container {
	height: 100% !important;
	width: 100% !important;
}

.cytp-outer-container.full .cytp-ml-video .mejs-container {
	width: 100% !important;
}

.cytp-outer-container.resize .cytp-pos-left .cytp-inner-container .cytp-ml-video,
.cytp-outer-container.resize .cytp-pos-right .cytp-inner-container .cytp-ml-video,
.cytp-outer-container.resize .cytp-pos-left .cytp-inner-container iframe,
.cytp-outer-container.resize .cytp-pos-right .cytp-inner-container iframe {
	float: left;
	padding-left: 5px; padding-right: 5px;
}

.cytp-outer-container.resize .cytp-pos-left .cytp-content,
.cytp-outer-container.resize .cytp-pos-right .cytp-content {
	float: left;
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
	padding: 5px;
}

.cytp-outer-container.resize .cytp-pos-top .cytp-ml-video,
.cytp-outer-container.resize .cytp-pos-bottom .cytp-ml-video {
	float: none;
	display: block;
	
	width: 100% !important;
}

.cytp-outer-container.resize .cytp-pos-top .cytp-content,
.cytp-outer-container.resize .cytp-pos-bottom .cytp-content {
	float: none;
	display: block;
	width: 100% !important;

	overflow-y: hidden;
	overflow-x: hidden;
	padding: 5px;
}

.cytp-outer-container.resize.cytp-ratio-square .cytp-pos-left .cytp-inner-container iframe,
.cytp-outer-container.resize.cytp-ratio-square .cytp-pos-right .cytp-inner-container iframe,
.cytp-outer-container.resize.cytp-ratio-square .cytp-pos-left .cytp-inner-container .cytp-ml-video,
.cytp-outer-container.resize.cytp-ratio-square .cytp-pos-right .cytp-inner-container .cytp-ml-video {
	margin-top: 50%;

	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	
	padding-top: 5px; padding-bottom: 5px;
}

.cytp-outer-container.resize.cytp-ratio-43 .cytp-pos-left .cytp-inner-container iframe,
.cytp-outer-container.resize.cytp-ratio-43 .cytp-pos-right .cytp-inner-container iframe,
.cytp-outer-container.resize.cytp-ratio-43 .cytp-pos-left .cytp-inner-container .cytp-ml-video,
.cytp-outer-container.resize.cytp-ratio-43 .cytp-pos-right .cytp-inner-container .cytp-ml-video {
	margin-top: 37.5%;

	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	
	padding-top: 5px; padding-bottom: 5px;
}

.cytp-outer-container.resize.cytp-ratio-169 .cytp-pos-left .cytp-inner-container iframe,
.cytp-outer-container.resize.cytp-ratio-169 .cytp-pos-right .cytp-inner-container iframe,
.cytp-outer-container.resize.cytp-ratio-169 .cytp-pos-left .cytp-inner-container .cytp-ml-video,
.cytp-outer-container.resize.cytp-ratio-169 .cytp-pos-right .cytp-inner-container .cytp-ml-video {
	margin-top: 28.125%;

	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	
	padding-top: 5px; padding-bottom: 5px;
}

.cytp-outer-container.resize .cytp-pos-top .cytp-inner-container iframe,
.cytp-outer-container.resize .cytp-pos-bottom .cytp-inner-container iframe,
.cytp-outer-container.resize .cytp-pos-top .cytp-inner-container .cytp-ml-video,
.cytp-outer-container.resize .cytp-pos-bottom .cytp-inner-container .cytp-ml-video {
	margin-left: 50%;

	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	
	padding-top: 5px; padding-bottom: 5px;
}

.cytp-outer-container.resize .cytp-pos-left .cytp-content {
	padding-right: 0;
}
.cytp-outer-container.resize .cytp-pos-right .cytp-content {
	padding-left: 0;
}
.cytp-outer-container.resize .cytp-pos-top .cytp-content {
	padding-bottom: 0;
}
.cytp-outer-container.resize .cytp-pos-bottom .cytp-content {
	padding-top: 0;
}

.cytp-outer-container .cytp-content {
	display: none;
}

.cytp-locked-content {
	display: none;
}

.cytp-content .cytp-vcenter {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

[data-showcontrol='n'] .mejs-controls {
	display: none !important;
}

.rwmb-input-list.collapse {
	display: block !important;
    visibility: visible !important;
}

.rwmb-meta-box label {
	font-weight: normal !important;
}

.cytpro-outer-container * {
	box-sizing: border-box;
}

#ib2_el_section1.ib2-section-el,
#ib2_el_imBxUpfF.ib2-section-el {
	z-index: 1 !important;
}

.cytpro-outer-container .mejs-layers .mejs-layer {
	width: 100% !important;
	height: 100% !important;
}

@media ( max-width: 450px ) {
	.cytp-outer-container .cytp-thumb-container.thumb.bottom-right {
		right: 0px;
		left: 0;
		width: 100%;
	}
	.cytp-outer-container .cytp-thumb-container.thumb.top-right {
		right: 0px;
		left: 0;
		width: 100%;
	}
	.cytp-outer-container .cytp-thumb-container.thumb.top-left {
		right: 0px;
		left: 0;
		width: 100%;
	}
	.cytp-outer-container .cytp-thumb-container.thumb.bottom-left {
		right: 0px;
		left: 0;
		width: 100%;
	}
}